---
import Filter from "@components/Filter.astro";
import LocalImage from "@components/LocalImage.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("gallery");
  const filteredPosts = allPosts.filter((post) => !post.data.hidden);

  return filteredPosts.map((post, index) => {
    return {
      params: { slug: post.slug },
      props: {
        post: post,
        next:
          index < filteredPosts.length - 1 ? filteredPosts[index + 1].slug : "",
        prev: index > 0 ? filteredPosts[index - 1].slug : "",
      },
    };
  });
}

const { post, next, prev } = Astro.props;

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Filter tag={post.data.tags[0]} />

  <div class="flex flex-row gap-10">
    <div class="basis-2/3">
      {
        !!post.data.image && (
          <LocalImage
            imageUrl={post.data.image}
            alt={post.data.title}
            width={1350}
          />
        )
      }

      <div class="grid grid-flow-col pt-5">
        {!!prev && <a href={`/gallery/${prev}`}>← prev</a>}
        {
          !!next && (
            <a href={`/gallery/${next}`} class="text-right">
              next →
            </a>
          )
        }
      </div>
    </div>
    <div class="basis-1/3">
      <Content />
    </div>
  </div>
</Layout>

<style>
  a {
    font-family: "supplymono", monospace;
  }
</style>
