---
import Filter from "@components/Filter.astro";
import LocalImage from "@components/LocalImage.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("gallery");
  const filteredPosts = allPosts.filter((post) => !post.data.hidden);
  const sortedPosts = filteredPosts.sort((a, b) => a.data.order - b.data.order);

  return sortedPosts.map((post, index) => {
    return {
      params: { slug: post.slug },
      props: {
        post: post,
        next: index < sortedPosts.length - 1 ? sortedPosts[index + 1].slug : "",
        prev: index > 0 ? sortedPosts[index - 1].slug : "",
      },
    };
  });
}

const { post, next, prev } = Astro.props;

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Filter tag={post.data.tags[0]} />

  <div class="flex justify-center">
    <div class="grid grid-flow-row gap-2 max-w-3xl pt-5">
      {
        !!post.data.image && (
          <LocalImage
            imageUrl={post.data.image}
            alt={post.data.title}
            width={1350}
          />
        )
      }

      <div>
        <Content />
      </div>

      <div class="grid grid-flow-col pt-5 mb-5">
        {!!prev && <a href={`/gallery/${prev}`}>← prev</a>}
        {
          !!next && (
            <a href={`/gallery/${next}`} class="text-right">
              next →
            </a>
          )
        }
      </div>
    </div>
  </div>
</Layout>
